.custhead 
{
  width: 250px;
  float: left;
}
.custhead ul 
{
  margin: 0 0 5px;
}
.custwrapper
{
  width: 900px;
}
.custmain
{
  width: 560px;
}
.deflist li
{
  list-style: none;
}
.deflist ul
{
  margin: 4px;
}
.deflist p
{
  padding-top: 10px;
}
.subdeflist
{
  margin-left: 15px;
}
.custfoot
{
  position: static;
  float: none;
}
.tab-pane.aspnetmvc {
    background-color: rgba(235, 235, 235, 1);
}
.tab-pane.aspnetcore {
  background-color: rgba(222, 247, 228, 1);
}
.tab-pane p.single {
  padding: 10px 0px 10px 20px;
}